/* css.css */
/* Global styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden; /* Prevent horizontal scroll */
}
/* Header styles */
.App-header {
    display: flex;
    align-items: center;
    background-color: #012545;
    color: white;
    padding: 40px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.header-content {
    flex: 1;
    text-align: center;
    padding-right: 20px; /* Ensure adequate padding */
}

.header-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.header-content p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.image-container {
    max-width: 300px;
    margin-left: 10px; /* Adjusted margin */
    justify-content: left; /* Center cards horizontally */

}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 20%; /* Rounded image */
}

@media (max-width: 768px) {
    .App-header {
        flex-direction: column;
        text-align: center;
    }

    .image-container {
        margin-left: 0;
        margin-top: 20px;
    }
}



.image-container:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
}

.image-container:hover img {
    transform: rotate(10deg) scale(1.1); /* Rotate and scale image on hover */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.section {
    width: 100%;
    max-width: auto;
    margin: 20px 0;
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.8s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.section-content {
    text-align: left;
}

.section h2 {
    color: #012545;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.section p {
    font-size: 1.1rem;
    line-height: 1.6;
}

/* Project cards layout */
.card-list {
    display: flex;
    flex-direction: row; /* Display cards in a row */
    flex-wrap: wrap; /* Allow cards to wrap onto a new line */
    gap: 40px; /* Adjust gap between cards */
    justify-content: left; /* Center cards horizontally */
}

.card {
    width: calc(33.33% - 20px); /* Adjusted width for three cards in a row */
    max-width: 400px; /* Maximum width for individual card */
    height: auto; /* Let the height adjust based on content */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1024px) {
    .card {
        width: calc(50% - 20px); /* Two cards in a row on medium screens */
    }
}

@media (max-width: 768px) {
    .card {
        width: calc(100% - 20px); /* Full width cards on small screens */
    }
}


.card-image img {
        width: 100%; /* Ensure the image width fills its container */
        height: auto; /* Maintain aspect ratio */
        max-width: 100%; /* Prevent image from exceeding its container */
        height: 250px; /* Set a fixed height for consistent image size */
        object-fit: fill; /* Maintain aspect ratio and cover the container */
    }

/* CARD CONTENT */
.card-content {
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 100%; /* Ensure card-content takes up full height of the card */
    position: relative; /* Needed for absolute positioning of the button */
}

.card-title {
    margin: 0 0 10px 0;
    font-size: 1.2rem; /* Adjust font size for better mobile view */
}

.card-description {
    margin: 0;
    font-size: 1rem; /* Adjust font size for better mobile view */
    height: 100px;
}

/* Skills section */
.skill-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap; /* Wrap items to new lines if needed */
    gap: 40px; /* Adjust gap between items */
    margin-left: 0; /* Ensure no left margin */
    padding-left: 0; /* Ensure no left padding */
    position: relative;
}

.skill-item {
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.skill-item:hover {
    background-color: #f0f0f0; /* Change background color on hover */
    transform: scale(1.05); /* Scale up slightly on hover */
}

.skill-item h3 {
    margin: 0 0 10px 0;
    font-size: 1.2rem; /* Adjust font size for better mobile view */
}

.skill-bar {
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 5px;
}

.skill-bar-level {
    height: 10px;
    background-color: #012545;
    border-radius: 5px;
}


/* Footer styles */
footer {
    background-color: #012545;
    color: white;
    padding: 20px 0;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.8s forwards;
    animation-delay: 0.6s;
}

footer p {
    margin: 0;
}

/* Contact form styles */
.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 1.2rem;
    color: #333;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form textarea {
    resize: vertical;
    min-height: 150px;
}

.contact-form button {
    display: inline-block;
    background-color: #012545;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.contact-form button:hover {
}



.error-message {
    color: #ff0000;
    font-size: 0.9rem;
    margin-top: 5px;
}

/* Media queries for responsiveness */


#myBtn {
    display: none; /* Hide the button by default */
    position: fixed; /* Fixed position on the screen */
    bottom: 20px; /* Distance from the bottom */
    right: 30px; /* Distance from the right */
    z-index: 99; /* Ensure it appears above other content */
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background-color: #012545; /* Button background color */
    color: white; /* Text color */
    cursor: pointer;
    border-radius: 50%;
    padding: 8px;
    transition: background-color 0.3s ease;
}

#myBtn svg {
    width: 100%;
    height: auto;
    fill: currentColor;
}

#myBtn:hover {
    transform: scale(1.1);
}

.download-button {
    display: inline-block;
    background-color: #012545;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 20px; /* Add some spacing above the button */
}

.download-button:hover {
    transform: scale(1.1);

}

/* floating-navba */

.floating-navbar {
    position: fixed;
    top: 16%;
    right: 35px; /* Adjust the left distance as needed */
    transform: translateY(-50%);
    z-index: 100;
    background-color: #012545;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.floating-navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.floating-navbar li {
    margin-bottom: 10px;
}

.floating-navbar a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

.floating-navbar a:hover {
    background-color: #0d4a6b;
    border-radius: 5px;
}

/*swirch D/L*/


/* The switch - the box around the slider */
.switch {
    /* Variables */
   --switch_width: 2em;
   --switch_height: 1em;
   --thumb_color: #e8e8e8;
   --track_color: #e8e8e8;
   --track_active_color: #888;
   --outline_color: #000;
   font-size: 17px;
   position: relative;
   display: inline-block;
   width: var(--switch_width);
   height: var(--switch_height);
  }
  
  /* Hide default HTML checkbox */
  .switch input {
   opacity: 0;
   width: 0;
   height: 0;
  }
  
  /* The slider */
  .slider {
   box-sizing: border-box;
   border: 2px solid var(--outline_color);
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: var(--track_color);
   transition: .15s;
   border-radius: var(--switch_height);
  }
  
  .slider:before {
   box-sizing: border-box;
   position: absolute;
   content: "";
   height: var(--switch_height);
   width: var(--switch_height);
   border: 2px solid var(--outline_color);
   border-radius: 100%;
   left: -2px;
   bottom: -2px;
   background-color: var(--thumb_color);
   transform: translateY(-0.2em);
   box-shadow: 0 0.2em 0 var(--outline_color);
   transition: .15s;
  }
  
  input:checked + .slider {
   background-color: var(--track_active_color);
  }
  
  input:focus-visible + .slider {
   box-shadow: 0 0 0 2px var(--track_active_color);
  }
  
  /* Raise thumb when hovered */
  input:hover + .slider:before {
   transform: translateY(-0.3em);
   box-shadow: 0 0.3em 0 var(--outline_color);
  }
  
  input:checked + .slider:before {
   transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.2em);
  }
  
  /* Raise thumb when hovered & checked */
  input:hover:checked + .slider:before {
   transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.3em);
   box-shadow: 0 0.3em 0 var(--outline_color);
  }


.hidden {
    display: none;
}

/* CSS for hide effect */
.toggle-hide {
    opacity: 1;
    height: auto;
    transition: opacity 0.4s ease-out, height 0.4s ease-out;
}

.toggle-hide.hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.4s ease-in, height 0.4s ease-in;
}

/* Other styles as needed */





.dark-mode .section {
    background-color: #012545; /* Dark blue section background */
    color: #012545; /* White text */
}

.dark-mode .section h2 {
    color: #e8e8e8; /* Light gray heading */
}

.dark-mode .section p {
    color: #ccc; /* Lighter gray text */
}


.dark-mode .download-button
{
    background-color: #ccc; /* Darker blue on hover */
    color: #012545; /* Lighter gray text */
}

.dark-mode .card-content {
    color: #012545;
    background-color: #ccc; /* Darker blue on hover */

}
.dark-mode .card-content p {
    color: #012545; /* White text color for paragraphs inside card-content */
}

.dark-mode #myBtn {
    background-color: white;
    color: #012545;
}

.dark-mode .floating-navbar {
    background-color: white;
    color: #012545;
}

.dark-mode .floating-navbar a {
    color: #012545;
}

.dark-mode .floating-navbar a:hover {
    background-color: #ccc;
    border-radius: 5px;
}

/*GIT BUTTON*/

.github-button {
    position: absolute;
    right: 20px;
    top: 10px;
    margin-left: 10px;
    display: inline-block;
    padding: 8px 12px; /* Adjust padding for smaller size */
    background-color: #012545;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: 14px; /* Smaller font size */
}

.github-button:hover {
    transform: scale(1.1);
}